*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

DimensionDetect(Sheet1).csv
dis_ultrasonic.ino
get_coord_img.py
MajorProject.py
Sensor_Study.txt
watershed.py